.grid {
  display: grid;
  column-gap: 0.5vw;
  row-gap: 0.5vw;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px;
  justify-content: center;
  padding: 50px;
  background-color: rgba(18, 49, 49, 0.94);
}

.grid > div {
  border: solid black 1px;
  background-color: darkcyan;
  text-align: center;
  padding: 15px 15px;
}

.grønnMole {
  background-image: url("Grafikk/alienGreen.png");
  /* cover: cover entire container*/
  background-size: cover;
}
.gulMole {
  background-image: url("Grafikk/alienYellow.png");
  /* cover: cover entire container*/
  background-size: cover;
}
.rødMole {
  background-image: url("Grafikk/alienRed.png");
  /* cover: cover entire container*/
  background-size: cover;
}
.lillaMole {
  background-image: url("Grafikk/alienPurple.png");
  /* cover: cover entire container*/
  background-size: cover;
}
