.grid {
  display: grid;
  column-gap: 0.5vw;
  row-gap: 0.5vw;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px;
  justify-content: center;
  padding: 50px;
  background-color: #0f0140;
}

.pressedKey {
  background-color: #f213a4;
}

.grid > div {
  border: solid black 1px;
  background-color: #9b94ba;
  text-align: center;
  padding: 15px 15px;
}

.greenMole {
  background-image: url("Grafikk/alienGreen.png");
  /* cover: cover entire container*/
  background-size: cover;
}
.yellowMole {
  background-image: url("Grafikk/alienYellow.png");
  /* cover: cover entire container*/
  background-size: cover;
}
.redMole {
  background-image: url("Grafikk/alienRed.png");
  /* cover: cover entire container*/
  background-size: cover;
}
.purpleMole {
  background-image: url("Grafikk/alienPurple.png");
  /* cover: cover entire container*/
  background-size: cover;
}
