* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NETTSIDE */

body {
  background: rgb(10, 01, 26);
}

p {
  color: white;
}

li {
  color: white;
}

h4 {
  color: white;
}

.navbar {
  padding: 0;
}

.selection-padding {
  padding: 100px 0;
}

.container-fluid {
  background-color: rgb(19, 19, 20);
  color: rgb(242, 19, 116);
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.nav-link {
  color: rgb(255, 255, 255);
}
.nav-link:hover {
  color: rgb(242, 19, 116);
}

#logoContainer {
}

#logoText {
  font-weight: bold;
}
#logoSubText {
}

#linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  right: 30vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.navbar.nav a {
  background-color: rgb(0, 0, 0);
  font-size: 15;
  text-transform: titling-caps;
  font-weight: 500;
}

.navbar-light .navbar.brand {
  color: rgb(255, 255, 255);
  font-size: 15;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

#title {
  color: rgb(255, 255, 255);
  font-size: 15;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

/* SPILL */

.grid {
  display: grid;
  column-gap: 0.5vw;
  row-gap: 0.5vw;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px;
  justify-content: center;
  background-color: #0f0432;
  padding: 7%;
}

.grid > div {
  border: solid black 1px;
  background-color: #9b94ba;
  text-align: center;
  padding: 15px 15px;
  font-family: "Tahoma", Geneva, Verdana, sans-serif;
  border-radius: 15%;
}

.greenMole {
  background-image: url("Grafikk/alienGreen.png");
  /* cover: cover entire container*/
  background-size: cover;
}
.yellowMole {
  background-image: url("Grafikk/alienYellow.png");
  /* cover: cover entire container*/
  background-size: cover;
}
.redMole {
  background-image: url("Grafikk/alienRed.png");
  /* cover: cover entire container*/
  background-size: cover;
}
.purpleMole {
  background-image: url("Grafikk/alienPurple.png");
  /* cover: cover entire container*/
  background-size: cover;
}

#buttonContainer {
  position: absolute;
  top: 8.5vw;
  right: 0.1vw;
  padding-right: 2vw;
}

#toggleSoundButton {
  border: solid black 1px;
  background-color: #9b94ba;
  text-align: center;
  width: 8vw;
  height: 2.5vw;
  font-family: "Tahoma", Geneva, Verdana, sans-serif;
  font-size: 1.1vw;
  color: white;
  border-radius: 15%;
}
#newGameButton {
  border: solid black 1px;
  background-color: #9b94ba;
  text-align: center;
  width: 8vw;
  height: 2.5vw;
  font-family: "Tahoma", Geneva, Verdana, sans-serif;
  font-size: 1.1vw;
  color: white;
  border-radius: 15%;
}

#flexContainer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 6.5vw;
}
#multiplier {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Tahoma", Geneva, Verdana, sans-serif;
  font-size: 2vw;
}

.riskMode {
  font-weight: bold;
  font-style: oblique;
  color: #ca446c;
}

.standardMode {
  color: #1910122a;
}

#infoLabel {
  font-family: "Tahoma", Geneva, Verdana, sans-serif;
  font-size: 2vw;
  color: white;
}

#counterVariableContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 45vw;
  color: rgb(242, 19, 116);
  font-size: 2vw;
}
#score {
}

#cssTimeLeft {
}
