*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: rgb(10, 01, 26);
    color:rgb(242, 19, 116);
}
.selection-padding{
    padding: 100px 0;
}

.navbar.nav a{
    color:rgb(0, 0, 0);
    font-size: 15;
    text-transform: titling-caps;
    font-weight: 500;
}

.navbar-light .navbar.brand{
    color:rgb(0, 0, 0);
    font-size: 15;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}


#title {
    color:rgb(72, 3, 140);
    font-size: 15;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

